
@model ProductVM
<div class="col-lg-12">
    <div class="form-group">
        @Html.LabelFor(x => x.SerialNumber)
        @Html.TextBoxFor(x => x.SerialNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SerialNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CategoryID)
        @Html.DropDownListFor(x => x.CategoryID, (IList<SelectListItem>)ViewData["category"], "Kategori Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.TradeMarkID)
        @Html.DropDownListFor(x => x.TradeMarkID, (IList<SelectListItem>)ViewData["trademark"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TradeMarkID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ProductModelID)
        @Html.DropDownListFor(x => x.ProductModelID, (IList<SelectListItem>)ViewData["productmodel"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductModelID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ColorID)
        @Html.DropDownListFor(x => x.ColorID, (IList<SelectListItem>)ViewData["color"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ColorID)
    </div>

    @*<div class="form-group">
        <label>Model</label>
        <select id="model" name="ProductModelID" class="form-control">
            <option value="0">Önce Marka Seçiniz</option>
        </select>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(x => x.Supplier)
        @Html.TextBoxFor(x => x.Supplier, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Supplier)
    </div>

    @*<div class="form-group">
        @Html.LabelFor(x => x.Color)
        @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Color)
    </div>*@

    <div class="form-group">
        @Html.LabelFor(x => x.UnitPrice)
        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnitPrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Count)
        @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Count)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Payment)
        @Html.DropDownListFor(x => x.Payment, (IList<SelectListItem>)ViewData["payment"], "Ödeme Şeklini Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Payment)
    </div>

    <input type="submit" class="btn btn-primary" name="name" value="Kayıt" />
</div>
