
@model ProductVM
<div class="col-lg-12">
    <div class="form-group">
        @Html.LabelFor(x => x.SerialNumber)
        @Html.TextBoxFor(x => x.SerialNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SerialNumber)
    </div>

    <div class="form-group imei-box">
        @Html.LabelFor(x => x.IMEI)
        @Html.TextBoxFor(x => x.IMEI, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.IMEI)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CategoryID)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.CategoryID, (IList<SelectListItem>)ViewData["category"], "Kategori Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.TradeMarkID)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.TradeMarkID, (IList<SelectListItem>)ViewData["trademark"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TradeMarkID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ProductModelID)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.ProductModelID, (IList<SelectListItem>)ViewData["productmodel"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductModelID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ColorID)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.ColorID, (IList<SelectListItem>)ViewData["color"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ColorID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.SupplierID)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.SupplierID, (IList<SelectListItem>)ViewData["supplier"], new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SupplierID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.UnitPrice)<span style="color:red"> *</span>
        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnitPrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KDV)<span style="color:red"> *</span>
        <select name="KDV" class="form-control">
            <option value="0,18">%18</option>
            <option value="0,08">%8</option>
        </select>
        @Html.ValidationMessageFor(x => x.KDV)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.UnitSalePrice)<span style="color:red"> *</span>
        @Html.TextBoxFor(x => x.UnitSalePrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnitSalePrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Count)<span style="color:red"> *</span>
        @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Count)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Payment)<span style="color:red"> *</span>
        @Html.DropDownListFor(x => x.Payment, (IList<SelectListItem>)ViewData["payment"], "Ödeme Şeklini Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Payment)
    </div>

    <div class="form-group credit-card transfer check display-row" style="display:none">
        <label>Banka Adı</label>
        @Html.TextBoxFor(x => x.BankName, new { @class = "form-control" })
    </div>
    <div class="form-group credit-card display-row" style="display:none">
        <label>Kart Üzerindeki İsim</label>
        @Html.TextBoxFor(x => x.BankCartName, new { @class = "form-control" })
    </div>
    <div class="form-group credit-card display-row" style="display:none">
        <label>Kart Numarası(Son 6 Hane)</label>
        @Html.TextBoxFor(x => x.CartNumber, new { @class = "form-control" })
    </div>
    <div class="form-group expiry-date expiry display-row" style="display:none">
        <label>Vade Tarihi</label><span style="color:red"> *</span>
        @Html.TextBoxFor(x => x.ExpiryDate, new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group check display-row" style="display:none">
        <label>Çek Numarası</label>
        @Html.TextBoxFor(x => x.CheckNumber, new { @class = "form-control" })
    </div>
    <div class="form-group display-row expiry" style="display:none">
        <label>Ödenen Tutar</label>
        @Html.TextBoxFor(x => x.PaidPrice, new { @class = "form-control" })
    </div>

    <input type="button" class="btn btn-primary" value="Kayıt" />
</div>
@if (Model != null)
{
    <input type="hidden" value="@Model.Payment" id="hidden-payment" />
}
