
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model SaleWrapVM

@section css{
    <link href="~/Areas/Admin/Content/custom/sale-page.css" rel="stylesheet" />
    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>
}

<div class="wrapper">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">Ürün Satış</a>
        </li>
        <li>
            <a href="#profile" data-toggle="tab">Servis / Yardım</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Ürün Satış Ekranı</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    @Html.Partial("/Areas/Admin/Views/Shared/Partial/MessagesPart.cshtml")
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ürün Satış Formu
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                @Html.Partial("Partial/SaleForm", Model.Cart)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Servis Ücreti</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @Html.Partial("/Areas/Admin/Views/Shared/Partial/MessagesPart.cshtml")
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Servis Hizmet Formu
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.Partial("Partial/ServiceSaleForm")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Partial/Modal", Model.Customer)

@section scripts{
    <script src="~/Scripts/dateFormat.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Scripts/custom/region.js"></script>
    <script src="~/Areas/Admin/Scripts/custom/sale-operations.js"></script>
<script>
        function SuccessFunction(result) {
            console.log(result)
            $("#response").html(result.Message);
            $("#response").attr("class", result.CssClass);
        }
</script>
}