
@{
    Layout = null;
}

@model InvoiceVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetInvoice</title>
    <link href="~/Areas/Admin/Content/custom/invoice-page-A4.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/custom/invoice-page.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="page">
            <div class="musteri-adres">@Model.Address<br />@Model.Region/@Model.City</div>
            <div class="tax-office">@Model.TaxOffice</div>
            <div class="tax-number">@Model.TaxNumber</div>
            <div class="date">@Model.DateOfArrangement</div>
            <div class="hour">@Model.HourOfArrangement</div>
            <div class="date2">@Model.DateOfArrangement</div>
            <div class="total-unit-price">@string.Format("{0:0.00}", Model.TotalUnitPrice)</div>
            <div class="total-sale-price">@string.Format("{0:0.00}", Model.TotalSalePrice)</div>

            <ul class="product-list">
                @foreach (var item in Model.ProductList)
                {
                    <li class="product-row">
                        <p>@item.FullProductName</p>
                        <p class="product-count">@item.SaleCount</p>
                        <p class="product-unit-price">@string.Format("{0:0.0000}", item.UnitPrice)</p>
                        <p class="product-price">@string.Format("{0:0.0000}", item.UnitPrice)</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
