
@{
    ViewBag.Title = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model CustomerExpiryWrapVM

@section css{
    <style>
        .detail-modal {
            width: 850px;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Vade İşlemleri</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Müşteri hesabına gitmek için aşağıdaki formdan Müşteri arayın
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @role = "form" }))
                        {
                            @Html.Partial("Partial/CustomerForm", Model.CustomerList)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6">
                        Vadeli İşlemler - @Model.CustomerName
                        <h4>Kalan Borç : <span id="expiry-value">@Model.TotalExpiryValue</span> TL</h4>
                    </div>
                    <div class="col-lg-6">
                        @if (Model.ExpiryResultList.Count != 0)
                        {
                            <button style="float:right;margin-left:5px;" class="btn btn-warning btn-sm" onclick="Payments(@Model.CustomerID)">Ödeme Geçmişi</button>
                            <button style="float:right;" onclick="SetButton(@Model.CustomerID)" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">Tahsil Et</button>
                        }
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    @Html.Partial("Partial/ResultList", Model.ExpiryResultList)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partial/Modal")
@section scripts{
    <script src="~/Areas/Admin/Scripts/custom/customer-expiry-opr.js"></script>
}
